@charset "UTF-8";

body{
    font-family: Arial, Verdana, sans-serif;
    background-color: #A69DF2;
}
h1{
    color: #464266;
    
}
h1#principal{
    text-align: center;
    color: #ffffff;
    background-color: #8C85CC;
}
h2{
    color: #726CA6;
}
.destaque{
    background-color: rgba(0, 0, 255, 0.349);
}

.basico{
    background-color: rgba(172, 255, 47, 0.644);
}
.medio{
    background-color: rgba(255, 255, 0, 0.603);
}
.avancado{
    background-color: rgba(255, 0, 0, 0.61);
}
.teste{
    font: italic bolder 2em 'Times new roman', serif;
}