@charset "UTF-08";

:root{
    --cor0: #2E2E2E;
    --cor1:var
}

*{
    margin: 0px;
    padding: 0px;
}
a.menu{
    display: flex;
    flex-direction: row;
}
.header{
    background-color: black;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
header{
    color: white;
    background-color: black;
}
header h1{
    padding: 0px 0px 9px 5px;
}
header a{
    color: white;
    text-align: end;
    text-decoration: none;
}
a::before{
    content: &#1F4F7;
}

body{
    background-color: var(--cor0);
}